$primary-font: 'Proxima Nova', sans-serif;
$secondary-font: 'PT Sans', sans-serif;;
$header-bg: #ada6c1 url("../../assets/img/header_bg.jpg") 50% no-repeat;
$about-bg: #cccae4 url('../../assets/img/about-us-bg.jpg') 50% no-repeat ;
$services-bg: #c1bfd9 url("../../assets/img/our-services-bg.jpg") 50% no-repeat;
$works-bg: #b5b1d6 url("../../assets/img/works-bg.jpg") 50% no-repeat;
